* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    line-height: 1.6;
    background: #f4f6f9;
    color: #333;
}
.text p{
    font-family:defult;
}
header {
    background: #0d1b2a;
    color: white;
    width:690px;
    padding: 20px;
    text-align: center;
}

header nav {
    margin-top: 10px;
}

header nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

header nav a:hover {
    color: #00b4d8;
}

.section {
    padding: 40px 10%;
    text-align: center;
    margin-left:25%;
    
}

h2 {
    margin-bottom: 20px;
    color: #0d1b2a;
    text-align: center;
    
    width:300px;
    margin-left: 40%;
    
    
}

.about-container {
    display: flex;
    gap: 20px;
    align-items: center;
    
}

.about-container img {
    width: 250px;
    border-radius: 50%;
    margin-top:-120%;
}

.card {
    background: white;
    padding: 20px;
    width:460px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
     background: white;
    padding: 20px;
    width:460px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);

}

footer {
    text-align: center;
    padding: 20px;
    width:690px;
    background: #0d1b2a;
    color: white;
}
.disc p{
    display: flex;
    padding:3%;
    margin-left:20%;
}
.disc{
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    background: white;
    padding: 20px;
    width:460px;
}
.disc h2{
    margin-bottom: 20px;
    color: #0d1b2a;
    text-align: center;
    width:300px;
    margin-left: 15%;
}